 /*CardsF ============================================= */

 .cardsFcontainer {
     width: 100%;
     margin: 2em 0;
 }

 .cardF {
     width: 30%;
     height: 100%;
     object-fit: cover;
     -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
     transform-origin: center;
     transform: perspective(800px) rotateY(25deg);
     transition: 0.5s;
 }

 .CardsF {
     max-width: 100%;
     max-height: 350px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
 }

 .CardsF:hover .cardF {
     opacity: 0.3;
 }

 .CardsF .cardF:hover {
     transform: perspective(800px) rotateY(0deg);
     opacity: 1;
 }