.side-drawer {
    height:70%;
    background: whitesmoke;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed; 
    top: 0;
    right: 0;
    width: 40%;
    max-width: 300px; 
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
    border-bottom-left-radius: 25px;

 }
  
  .side-drawer.open {
    transform: translateX(0);
  }
  
  .side-drawer ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;    
    align-items: flex-start;    
    justify-content: center;  
  }
  
  .side-drawer li {
    margin: 0.5rem 0;
  }
  
  .side-drawer a {
    text-decoration: none;
    color: black;
    /* font-size: 1.2rem; */
    font-family: 'Roboto' !important;
    text-transform: uppercase;
  }
  
  .side-drawer a:hover,
  .side-drawer a:active {
    color: #b62fb4;
  }
  
  @media screen and (min-width: 759px) {
    .side-drawer {
      display: none;
    }
  }
  